*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#Solarsystem{
    background-image: url(./images/starry.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.earth_orbit{
    position: absolute;
    width: 50%;
    height: 30%;
    border: 0px dashed white;
    border-radius: 50%;
    top: 38%;
    left: 25%;
    animation: rotate 20s linear infinite;
}
.mercury_orbit{
    position: absolute;
    top: 35%;
    left: 35%;
    border: 0px dotted white;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    animation: rotate 4s linear infinite;
}
.venus_orbit{
    position: absolute;
    top: 30%;
    left: 30%;
    border: 0px dotted white;
    border-radius: 50%;
    width: 35%;
    height: 40%;
    animation: rotate 10s linear infinite;
}

.sun {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background:radial-gradient(circle,white,yellow);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 175px 175px rgba(255, 255, 0, 0.3);
}

.venus{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 115,0);
    top:5%;
    left:80%;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(255, 110, 0,0.5);
}
.mercury{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(126, 126, 126);
    top: -5%;
    left:50%;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(255, 255, 180,0.5);
}
.earth{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:linear-gradient(to right,rgb(0,58,112) 50%,rgb(201, 175, 88));
    top:15%;
    left:10%;
    z-index: 1;
    box-shadow:0 0 5px 5px rgba(0,58,112,0.5)
}
.orbit {
    position: absolute;
    top: -15px;
    left:-45px;
    width: 120px;       
    height: 60px;
    border: px dotted rgba(255,255,255,0.5); 
    animation: rotate 2s linear infinite;
}
.moon {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:rgb(162, 152, 152);
    top:15%;      
    left: 10%;
    box-shadow: 0 0 5px 5px rgb(162, 152, 152, 0.6);
}
@keyframes rotate {
100% {transform: rotate(360deg); }
}




